.container {
    width: 80%; /* Устанавливает ширину контейнера */
    margin: 0 auto; /* Центрирует контейнер по горизонтали */
    padding: 20px; /* Добавляет внутренние отступы к контейнеру */
}

form {
    background-color: #333; /* Устанавливает цвет фона формы */
    padding: 20px; /* Добавляет внутренние отступы к форме */
    border-radius: 10px; /* Закругляет углы формы */
}

label {
    display: block; /* Устанавливает блочный тип отображения для меток */
    margin-bottom: 10px; /* Добавляет отступ снизу к меткам */
    color: #ffd700; /* Устанавливает цвет текста меток (мягкий оттенок желтого) */
}

textarea, select, button {
    width: 100%; /* Занимают всю доступную ширину */
    padding: 10px; /* Добавляет внутренние отступы */
    margin-bottom: 10px; /* Добавляет отступ снизу */
    border: outset; /* Убирает границу */
    border-radius: 5px; /* Закругляет углы */
    background-color: #444; /* Устанавливает цвет фона элементов формы */
    color: #ffd700; /* Устанавливает цвет текста элементов формы (желтый) */
    resize: none; /* Запрещает изменение размеров textarea */
}

button {
    background-color: #ffd700; /* Устанавливает цвет фона кнопок (мягкий оттенок желтого) */
    color: #222; /* Устанавливает цвет текста кнопок (темный) */
    cursor: pointer; /* Устанавливает указатель мыши в виде руки при наведении на кнопки */
}

button:hover {
    background-color: #ffec80; /* Устанавливает цвет фона кнопок при наведении на них (светлый оттенок желтого) */
}

#translation-result-container {
    margin-top: 20px; /* Добавляет отступ сверху к контейнеру с результатом перевода */
    background-color: #333; /* Устанавливает цвет фона контейнера с результатом перевода */
    padding: 20px; /* Добавляет внутренние отступы к контейнеру с результатом перевода */
    border-radius: 10px; /* Закругляет углы контейнера */
}

#translation-result {
    color: #ffd700; /* Устанавливает цвет текста результата перевода (желтый) */
}

/* Дополнительные стили для ссылок в меню "История" и "Аккаунт" при наведении на них */
nav ul li.history a:hover {
    color: green; /* Устанавливает цвет текста ссылок "История" при наведении на них (зеленый) */
}

nav ul li.account a:hover {
    color: rgb(136, 12, 126); /* Устанавливает цвет текста ссылок "Аккаунт" при наведении на них (пурпурный) */
}

textarea {
     width: 98.3%; /* Фиксим границу которая выходить за рамки  */
}

header {
    background-color: #333; /* Устанавливает цвет фона заголовка */
    color: #ffd700; /* Устанавливает цвет текста заголовка */
    padding: 20px; /* Добавляет внутренние отступы к заголовку */
    text-align: center; /* Выравнивает текст заголовка по центру */
}

nav ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    font-size: 18px; /* Устанавливает размер текста ссылок */
    color: #ffd700; /* Устанавливает цвет текста ссылок (мягкий оттенок желтого) */
}   

nav ul li.tra a:hover {
    color: green; /* Устанавливает цвет текста ссылок "История" при наведении на них (зеленый) */
}

nav ul li.account a:hover {
    color: rebeccapurple; /* Устанавливает цвет текста ссылок "Аккаунт" при наведении на них (пурпурный) */
}

.container h1, h2 {
    color: #ffd700;
}