{% extends 'base/base.html' %}
{% load static %}

{% block title %}About Us - My Website{% endblock %}

{% block content %}
<div class="main-content">
    <div class="language-selector">
        <label for="source-lang">Выберите язык:</label>
        <select id="source-lang" name="source_lang">
            {% for code, lang_name in languages %}
                <option value="{{ code }}">{{ lang_name }}</option>
            {% endfor %}
        </select>
        <div class="input-block">
            <textarea id="input-text" name="input_text" placeholder="Введите текст..."></textarea>
        </div>
    </div>
    <div class="action-buttons">
        <button id="translate-button">Перевести</button>
        <button id="swap-button" onclick="swapLanguages()">↔</button>
    </div>
    <div class="language-selector">
        <label for="target-lang">Выберите язык:</label>
        <select id="target-lang" name="target_lang">
            {% for code, lang_name in languages %}
                <option value="{{ code }}">{{ lang_name }}</option>
            {% endfor %}
        </select>
        <div class="output-block">
            <textarea id="output-text" readonly placeholder="Результат будет здесь..."></textarea>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
