body {
    background-color: #222; /* Черный фон страницы */
}

.content-container {
    color: rebeccapurple; /* Фиолетовый цвет текста */
    text-align: center; /* Выравнивание содержимого по центру */
    margin-top: 50px; /* Отступ сверху для центрирования по вертикали */
}

.profile-info {
    width: 60%; /* Ширина блока с информацией о профиле */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    padding: 20px; /* Отступы внутри блока */
}


/* Стили для ссылок в меню */
nav ul li.tranlatormenu a:hover {
    color: #ffd700; /* Устанавливает цвет текста ссылок "История" при наведении на них (зеленый) */
}

nav ul li.history a:hover {
    color: green; /* Устанавливает цвет текста ссылок "Аккаунт" при наведении на них (пурпурный) */
}


nav ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    font-size: 18px; /* Устанавливает размер текста ссылок */
    color: rebeccapurple; /* Устанавливает цвет текста ссылок (мягкий оттенок желтого) */
}   


header {
    background-color: #333; /* Устанавливает цвет фона заголовка */
    color: rebeccapurple; /* Устанавливает цвет текста заголовка */
    padding: 20px; /* Добавляет внутренние отступы к заголовку */
    text-align: center; /* Выравнивает текст заголовка по центру */
}