body {
    background-color: #222; /* Цвет фона */
    color: #ff0000; /* Цвет текста */
    font-family: Arial, sans-serif; /* Шрифт текста */
}

/* Определение стилей для заголовка h2 */
h2 {
    color: #b31717; /* Цвет заголовка */
}

/* Определение стилей для формы */
form {
    margin: 20px; /* Внешний отступ */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #b31717; /* Граница */
    border-radius: 5px; /* Радиус скругления углов */
    background-color: #333; /* Цвет фона */
}

/* Определение стилей для текстовых полей ввода */
form input[type="text"],
form input[type="password"] {
    width: 99%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    margin: 5px 0; /* Внешний отступ */
    border: none; /* Граница */
    border-radius: 3px; /* Радиус скругления углов */
    background-color: #444; /* Цвет фона */
    color: #ff0000; /* Цвет текста */
}

/* Определение стилей для кнопки */
form button {
    width: 100%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    margin-top: 10px; /* Верхний внешний отступ */
    border: none; /* Граница */
    border-radius: 3px; /* Радиус скругления углов */
    background-color: #b31717; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Определение стилей для кнопки при наведении */
form button:hover {
    background-color: #7c0606; /* Цвет фона при наведении */
}

/* Определение стилей для абзацев */
form p {
    margin-top: 10px; /* Верхний внешний отступ */
    color: #ccc; /* Цвет текста */
}

/* Определение стилей для ссылок */
a {
    color: #b31717; /* Цвет ссылок */
}

/* Определение стилей для кнопки логина */
.loginbutton {
    font-size: 20px; /* Размер шрифта */
}
