/* history.css */

/* Общие стили для таблицы и ее элементов */
body {
    font-family: Arial, sans-serif; /* Устанавливает шрифт для всего текста на странице */
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы */
    background-color: #222; /* Устанавливает темный фон */
    color: green; /* Устанавливает зеленый цвет текста */
}

table {
    width: 100%; /* Занимает всю доступную ширину */
    border-collapse: collapse; /* Сливает границы ячеек таблицы */
}

th, td {
    padding: 8px; /* Добавляет внутренние отступы к ячейкам */
    border: 1px solid #ddd; /* Устанавливает границу ячейки */
    text-align: left; /* Выравнивает текст по левому краю */
}

th {
    background-color: #4CAF50; /* Устанавливает цвет фона ячейки заголовка (зеленый) */
    color: white; /* Устанавливает цвет текста ячейки заголовка (белый) */
}

/* Стили для строк таблицы */
tr:nth-child(even) {
    background-color: #444; /* Устанавливает цвет фона четных строк (темно-серый) */
}

tr:hover {
    background-color: #555; /* Устанавливает цвет фона строки при наведении на нее (серый) */
}

/* Стили для ссылок в меню */
nav ul li.tranlatormenu a:hover {
    color: #ffd700; /* Устанавливает цвет текста ссылок "История" при наведении на них (зеленый) */
}

nav ul li.account a:hover {
    color: rebeccapurple; /* Устанавливает цвет текста ссылок "Аккаунт" при наведении на них (пурпурный) */
}


nav ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    font-size: 18px; /* Устанавливает размер текста ссылок */
    color: green; /* Устанавливает цвет текста ссылок (мягкий оттенок желтого) */
}   


header {
    background-color: #333; /* Устанавливает цвет фона заголовка */
    color: green; /* Устанавливает цвет текста заголовка */
    padding: 20px; /* Добавляет внутренние отступы к заголовку */
    text-align: center; /* Выравнивает текст заголовка по центру */
}